@import url("../global.css");

/*main*/
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    padding: 32px;
}

.cards section.card{
   
    background: white;
    padding-bottom: 2rem;
    border-radius: 8px;
    margin-left: 32px;
    justify-content: center;
}

.cards section.card:first-child{
    margin-left: 0;
}

.cards section.card img{
    margin-top: 0;
    width: 100%;
}

.cards section.card h3{
    font-size: 100%;
    margin: 18px 15px;
    text-align: start;
    margin-left: 40px;
}
.card .bt{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}

.cards section.card{
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 30px;
}
.cards section.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*responsividade*/
@media screen and (max-width: 720px) {
    .cards{
        flex-direction: column;
        margin-top: 50px;
    }
    .cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    .cards section.card:first-child{
        margin-bottom: 70px;
        margin-top: 0%;
    }
}

