@import url("../global.css");

/*Body*/
body {
    background-color: var(--bg-light);
}

/*Header*/

.exit {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--bg-light);

    display: flex;
    align-items: center;
    justify-content: center;
}

.bi-box-arrow-left {
    color: var(--btn-bg-blue);
    font-size: 3rem;

    margin-right: 10px;
}

/*Main*/
main {
    top: 50px;
}
/*Logo e Texto*/
.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-company {
    width: 231px;
    height: 231px;
    margin-top: 40px;
    border-radius: 50%;
}

.title-company {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: var(--text-dark);
    text-align: center;
    width: 35%;
}

/*Elementos*/
.elements {
    display: flex;
    justify-content: center;

    font-family: 'Montserrat';

    margin-bottom: 250px;
}

.card {
    width: 235px;
    height: 220px;
    
    color: var(--bg-dark);
    margin: 25px;

    font-size: 3.5rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;

    background-color: var(--bg-light);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));

    transition: 0.4s;
    cursor: pointer;
}

.icon {
    font-size: 8rem;
}

.card:hover {
    transform: scale(1.1);
}

/*Footer*/


@media (max-width: 920px) {

    .title-company {
        width: 100%;
    }
    
    .elements {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media only screen and (max-width: 920px) {
    .footer .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}