@import url('../global.css');

/* Variaveis e classes reutilizaveis */
:root {
  
}

.text-format-conent {
  font-size: 2.4rem;
  line-height: 2em;
}

.section-separator {
  padding: 72px 0;
}

.section-heading-padding {
  padding-bottom: 56px;
}

.section-column-gap {
  column-gap: 20px;
}
/* Variaveis e classes reutilizaveis */

/* Hero Section */
#hero .swiper {
  width: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.6rem;
  font-weight: 600;
}

.swiper .swiper-wrapper .swiper-slide .content-text {
  position: absolute;
  color: var(--text-light);
}
/* Hero Section */

/* Recommended Section */
#recommended .wrapper h2 {
  margin-bottom: 120px;
}

#recommended .wrapper .glider-contain .glider img {
  margin-right: 30px;
}
/* Recommended Section */

/* Services Section */
/* Services Section */

/* Service Company Section */
/* Service Company Section */

/* Service Localization Section */
/* Service Localization Section */

/* Service Scheduling Section */
/* Service Scheduling Section */

/* Objective Section */
#objective .wrapper .objective-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#objective .wrapper .objective-contain span {
  margin-top: 1em;
  text-align: justify;
}
/* Objective Section */