@import url("../../styles/global.css");

.text-style {
    font-size: 1.6rem;
    margin: 10px;
    padding: 10px;

    font-weight: 500;

}

.wrapper .text {
    text-align: center;
    padding: var(--padding-default);

    color: var(--text-dark);
}

.wrapper .text h2 {
    font-size: 2.4rem;
}


.container form{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container .column input {
    border: 0px;
    background-color: #EDEDED;
    height: 30px;
    width: 300px;

    margin-bottom: 30px;

    padding: 5px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.button1 {
    text-align: center;
}

.svg1 {
    text-align: right;
    margin-bottom: 30px;
}

.svg {
    width: 30%;
}


@media (max-width: 600px) {
    .container form {
        display: block;
    }
}