/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@400;500&display=swap');
/* Fontes */

/* Variaveis */
:root {
  --max-site-width: 988px;
  --padding-default: 20px;

  --bg-light: #FCFCFC;
  --bg-dark: #282828;
  --bg-input: #E7E7E7;

  --text-light: #FFF;
  --text-dark: #282828;
  --text-placeholder-light: #F1F1F1;

  --btn-bg-blue: #58AFC4;
  --btn-border-transparent: #F2F2F2;
  --btn-bg-transparent: transparent;
}
/* Variaveis */

/* Classes reutilizaveis */
.d-flex-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Classes reutilizaveis */

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,body {
  scroll-behavior: smooth;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  background: var(--bg-light);
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  text-transform: initial;

  font-family: 'Montserrat', 'helvetica', sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
}
/* Reset */

/* Helpers */
.dark {
  background-color: var(--bg-dark);
}

.light {
  background: var(--bg-light);
}

.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: var(--max-site-width);
  padding: 0 var(--padding-default);
}

/* Componentes */
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family:'Montserrat', 'helvetica', sans-serif;
  font-weight: 600;
  text-align: center;
}

.btn-blue{
  background-color: var(--btn-bg-blue);
  color: var(--text-light);
}

.btn-transparent {
  border: 1px solid var(--btn-border-transparent);
  background-color: var(--btn-bg-transparent);
  color: var(--btn-border-transparent);

}
/* Componentes */

/* Header */
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 70px;
  }

  .header .wrapper .menu {
    display: flex;
    gap: var(--padding-default);
  }

  .header .wrapper .menu .buttons-account {
    display: flex;
    gap: var(--padding-default);
    transform: translate( 0, 10%);
  }

  .header .wrapper .search-box {
    background: var(--btn-bg-blue);
    height: 40px;
    padding: 25px 5px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .wrapper .search-box input::placeholder {
    color: var(--text-placeholder-light);
  }

  .header .wrapper .search-txt {
    border: none;
    background: none;
    outline: none ;
    width: 0; 
    padding: 0;
    color: var(--bg-light);
    font-size: 1.6rem;
    line-height: 40px;
    transition: .5s;
  }

  .header .wrapper .search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--btn-bg-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }

  .header .wrapper .search-btn .bi-search{
    color: var(--text-dark);
    font-size: 20px;
  }

  .header .wrapper .search-box:focus, .search-box:hover > .search-txt {
    width: 240px;
    padding: 40px 10px;
    transition: .5s;
  }

  .header .wrapper .search-box:focus, .search-box:hover > .search-btn i{
    background: var(--bg-light);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;
  }
/* Header */

/* Hamburguer */
#hamburguer {
  display: none;
}

@media (max-width: 600px) {
  #hamburguer {
    display: block;
  }

  .header .wrapper .menu {
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    top: 68px;
    right: 0;
    background: var(--bg-dark);
    z-index: 2;
    padding: var(--padding-default);
    transition: .5s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .header .wrapper .menu.active {
    height: calc(100vh - 68px);
    visibility: visible;
    overflow-y: auto;
  }

  .header .wrapper .menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

  .header .wrapper .menu .search-box {
    display: none;
  }

  #hamburguer {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    gap: .5rem;
  }

  #hamburguer .line {
    border-top: 2px solid;
    width: 20px;
    color: var(--btn-bg-blue);
  }

  #hamburguer .line::after, #hamburguer .line::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: .5s;
  }

  #hamburguer .line.active {
    border-top-color: transparent;
    transition: .2s;
  }

  #hamburguer .line.active::before {
    transform: rotate(135deg);
  }

  #hamburguer .line.active::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .menu.active #hamburguer .line {
    border-top-color: transparent;
  }

  #hero {
    transition: 0.5s;
  }

  #hero.active {
    transition: 0.5s;
    margin-top: 100vh;
  }
}
/* Hamburguer */

/* Footer */
.footer .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  font-size: 3.2rem;
  height: 40vh;
  padding: var(--padding-default);
}

.footer .wrapper a {
  color: var(--text-light);
  font-weight: 600;
}
/* Footer */

/* Responsividade */
@media only screen and (max-width: 600px) {
  .footer .wrapper {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .footer .wrapper {
    grid-template-columns: 1fr;
  }
}
/* Responsividade */
