/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@400;500&display=swap');
/* Fontes */

/* Variaveis */
:root {
  --max-site-width: 988px;
  --padding-default: 20px;

  --bg-light: #FCFCFC;
  --bg-dark: #282828;

  --text-light: #E6E6E6;
  --text-dark: #282828;

  --btn-bg-blue: #58AFC4;
  --btn-border-transparent: #F2F2F2;
  --btn-bg-transparent: transparent;
}
/* Variaveis */

/* Classes reutilizaveis */
.d-flex-justify-center {
  display: flex;
  justify-content: center;
}
/* Classes reutilizaveis */

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,body {
  scroll-behavior: smooth;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  background: var(--bg-light);
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  text-transform: initial;

  font-family: 'Montserrat', 'helvetica', sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
}

/* Reset */

/* Helpers */
.dark {
  background-color: var(--bg-dark);
}

.light {
  background: var(--bg-light);
}

.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: var(--max-site-width);
  padding: 0 var(--padding-default);
}

/* Componentes */
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family:'Montserrat', 'helvetica', sans-serif;
  font-weight: 600;
  width: 150px;
}

.btn-blue{
  background-color: var(--btn-bg-blue);
  color: var(--text-light);
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--btn-border-transparent);
  background-color: var(--btn-bg-transparent);
  color: var(--btn-border-transparent);

}
/* Componentes */

/* Header */
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 70px;
  }

  .header .wrapper .menu {
    display: flex;
    gap: var(--padding-default);
  }
/* Header */

/* Footer */
.footer .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 3.2rem;
  /* height: 100vh; */
  padding: var(--padding-default);
}
.footer .wrapper a {
  color: var(--text-light);
  font-weight: 600;
}
/* Footer */

@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }

  .footer .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}