/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@400;500&display=swap');
/* Fontes */

/* Variaveis */
:root {
  --max-site-width: 988px;
  --padding-default: 20px;

  --bg-light: #FCFCFC;
  --bg-dark: #282828;

  --text-light: #E6E6E6;
  --text-dark: #282828;
  --text-placeholder-light: #F1F1F1;

  --btn-bg-blue: #58AFC4;
  --btn-border-transparent: #F2F2F2;
  --btn-bg-transparent: transparent;
}
/* Variaveis */

/* Classes reutilizaveis */
.d-flex-justify-center {
  display: flex;
  justify-content: center;
}
/* Classes reutilizaveis */

/* Reset */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Quicksand', 'Helvetica', sans-serif;

  background: var(--bg-light);
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  text-transform: initial;

  font-family: 'Montserrat', 'helvetica', sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
}
/* Reset */

/* Helpers */
.dark {
  background-color: var(--bg-dark);
}

.light {
  background: var(--bg-light);
}

.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: var(--max-site-width);
  padding: 0 var(--padding-default);
}

/* Componentes */
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family:'Montserrat', 'helvetica', sans-serif;
  font-weight: 600;
  width: 150px;
}

.btn-blue{
  background-color: var(--btn-bg-blue);
  color: var(--text-light);
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--btn-border-transparent);
  background-color: var(--btn-bg-transparent);
  color: var(--btn-border-transparent);

}
/* Componentes */

/* Header */
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 70px;
  }

  .header .wrapper .menu {
    display: flex;
    gap: var(--padding-default);
  }

  .header .wrapper .menu .buttons-account {
    display: flex;
    gap: var(--padding-default);
    transform: translate( 0, 10%);
  }

  .header .wrapper .search-box {
    background: var(--btn-bg-blue);
    height: 40px;
    padding: 25px 5px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .wrapper .search-box input::placeholder {
    color: var(--text-placeholder-light);
  }

  .header .wrapper .search-txt {
    border: none;
    background: none;
    outline: none ;
    width: 0; 
    padding: 0;
    color: var(--bg-light);
    font-size: 1.6rem;
    line-height: 40px;
    transition: .5s;
  }

  .header .wrapper .search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--btn-bg-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }

  .header .wrapper .search-btn .bi-search{
    color: var(--text-dark);
    font-size: 20px;
  }

  .header .wrapper .search-box:focus, .search-box:hover > .search-txt {
    width: 240px;
    padding: 40px 10px;
    transition: .5s;
  }

  .header .wrapper .search-box:focus, .search-box:hover > .search-btn i{
    background: var(--bg-light);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;
  }
/* Header */

/* Footer */
.footer .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 3.2rem;
  height: 40vh;
  padding: var(--padding-default);
}
.footer .wrapper a {
  color: var(--text-light);
  font-weight: 600;
}
/* Footer */