@import url('../global.css');

/*Componentes*/

label {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.7rem;

    color: var(--text-dark);

    line-height: 30px;

}

.submit {
    margin-bottom: 40px;
}

/*Titulo Principal*/

.title{
    font-family: 'Montserrat';
    font-size: 2.3rem;
    text-align: center;

    color: var(--text-dark);

    margin: 50px 0;
}

/*Titulo Principal*/

/*Input para o logo*/

.logo-change {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo-change img {
    width: 100px;
    border-radius: 50%;
}

.logo-change .infos-logo {
    margin-left: 10px;
}

.logo-change .infos-logo h3{
    font-family: 'Montserrat';
    font-size: 1.3rem;

    color: var(--text-dark);

    margin-bottom: 5px;

}

.logo-change .infos-logo input {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 1.1rem;

    color: var(--text-dark);
}

/*Input para o logo*/


/*Informações Empresa*/
.form-control {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    font-family: 'Quicksand';
    font-weight: 500;
    border: none;
    background-color: #E6E6E6;

    padding: 7px;
    width: 250px;
}

.submit {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 50px;
}

/*Informações Empresa*/

/*Cadastro dos horários de funcionamento*/
.mb {
    margin-bottom: 50px;
}

.infos-schedule p{
    font-family: 'Montserrat';
    font-size: 1.7rem;
    text-align: center;

    color: var(--text-dark);

    margin: 0 25%;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.schedule-time {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;
}

.schedule-time h3 {
    font-size: 1.9rem;
    font-family: 'Montserrat';

    line-height: 2;

    color: var(--text-dark);
}


.schedule-time .hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-time .hours span{
    font-size: 1.4rem;
    font-weight: 600;

    color: var(--text-dark);
}

.schedule-time .content {
    margin: 10px 0px 10px 0px;
}
 
.schedule-time .content span {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px 8px;
}

.schedule-time .content input {
    border: none;

    background-color: #E6E6E6;
    color: var(--text-dark);

    padding: 6px;
}

/*Cadastro dos horários de funcionamento*/


/*Cadastro do Endereço*/

.form-control-adress {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
/*Cadastro do Endereço*/


/*Responsividade*/

@media (max-width:820px) {
    .form-control {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .form input {
        width: 400px;
    }

    .form-control-adress {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .infos-schedule p {
        margin: 0 10%;
    }
}

@media (max-width:600px) {
    html {
        font-size: 55%;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .infos-schedule p {
        margin: 0 10%;
    }
}

@media (max-width:410px) {
    .form input {
        width: 300px;
    }
}


@media (max-width:320px) {
    .logo-change {
        display: block;
    }

    .form input {
        width: 250px;
    }
}
/*Responsividade*/